<div class="container px-5 px-sm-0">
    <h2 class="text-center mt-5 mb-5">みんなの投稿</h2>
    
    <!--フラッシュメッセージの表示-->
    <p class="text-center text-success"><%= flash[:notice] %></p>
    
    <div class="row">
        <div class="col-md-3 mx-auto">
        </div>
        
        <% @posts.each do |post| %>
        <div class="col-md-6 mx-auto offset-md-1 mt-3">
          <div>
            　<table class="table table-borderless">
                <tbody>
                  <tr>
                    <td><!--userごとのプロフィール画像を取得-->
                      <%= link_to public_user_path(post.user.id) do %>
                        <%= image_tag post.user.get_profile_image(100,100) %>
                      <% end %><br>
                      <%= post.user.name %>
                    </td>
                    <td><%= image_tag post.image, size: "100x100" %></td>
                    <!--取得したtitle名をリンクにしてbook詳細画面へ移行-->
                    <td>
                        <h3> <%= link_to post.title, public_post_path(post) %></h3><br>
                        # <%= post.genre.name %><br>
                        # <%= post.alcohol %>に相性抜群！
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
        <% end %>
    </div>
</div>
