<div class="container px-5 px-sm-0">
<!--それぞれに対応したトップ表示-->
<% if @genre %>
  <h2 class="text-center mt-3 mb-3"><%= @genre.name %>関連の投稿</h2>
<% else %>
  <h2 class="text-center mt-3 mb-3">みんなの投稿一覧</h2>
<% end %>

<!--ジャンル検索機能-->
<%= form_tag public_posts_path, method: :get, class: 'boards_searchForm' do %>
  　<div class="row mt-5 mb-5">
      <% @genres.each do |genre| %>
        <div class="tag-box mx-auto">
          <h5><%= link_to genre.name, public_posts_path(name: genre.id) %></h5>
        </div>
      <% end %>
  　</div>
    
    <!--投稿一覧-->
    <% @posts.each do |post| %>
    <div class="row">
        <div class="col-md-10 mx-auto mt-3">
          <div class="border-top">
            　<table class="table table-borderless">
                <tbody>
                  <tr>
                    <td style="width: 20%">
                      <!--userごとのプロフィール画像を取得-->
                      <%= link_to public_user_path(post.user.id) do %>
                      <p class="mt-5 text-center">
                        <%= image_tag post.user.get_profile_image(100,100), class: 'rounded-circle' %>
                      </p>
                      <% end %><br>
                      <p class="text-center"><%= post.user.name %></p>
                    </td>
                    <td style="width: 40%">
                      <%= link_to public_post_path(post) do %>
                      <p class="text-center">
                        <%= image_tag post.image, size: "160x160" %>
                      </p>
                      <% end %>
                    </td>
                    <!--取得したtitle名をリンクにしてbook詳細画面へ移行-->
                    <td style="width: 40%">
                        <h3><%= link_to post.title, public_post_path(post),class: 'text-dark' %></h3><br>
                        <% post.genres.each do |genre| %>
                        # <%= genre.name %><br>
                        <% end %>
                        # <%= post.alcohol %>に相性抜群！<br>
                        # <%= truncate(post.summary, length: 40) %>
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>
                      <p class="text-center">いいね <%= post.bookmarks.count %>　コメント <%= post.comments.count %></p>
                    </td>
                    <td><%= post.created_at.to_s(:datetime_jp) %></td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
    </div>
    <% end %>
<% end %>
<h5 class="pb-5"><%= paginate @posts %></h5>
</div>
