<div class="container px-5 px-sm-0">
    <h2 class="text-center mt-5 mb-5">投稿詳細画面</h2>
    
    <!--フラッシュメッセージの表示-->
    <div><%= flash[:notice] %></div>
    
    <div class="row">
        <div class="col-md-3 mx-auto">
            <p class="text-center"><%= image_tag @post.image, size: "200x200" %></p>
            
            <% if @post.release == true %>
            <p class="text-center">公開中</p>
            <%  else %>
            <p class="text-center">非公開</p>
            <% end %>
        </div>
        
        <div class="col-md-6 mx-auto">
        　<table class="table table-borderless">
            <tbody>
              <tr>
                  <td><h3>#　<%= @post.title %></h3></td>
                  <td></td>
              </tr>
              <tr>
                  <td>#　<%= @post.genre.name %></td>
                  <td></td>
              </tr>
              <tr>
                  <td>#　<%= @post.alcohol %>に相性抜群！</td>
                  <td></td>
              </tr>
              <tr>
                  <td>#　<%= @post.summary %></td>
                  <td></td>
              </tr>
              <tr>
                  <td>#　<%= @post.ingredient %></td>
                  <td></td>
              </tr>
              <tr>
                  <td>#　<%= @post.cook %></td>
                  <td></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
</div>
