<div class="container px-5 px-sm-0">
    <h2 class="text-center mt-5 mb-5">投稿詳細画面</h2>
    <!--フラッシュメッセージの表示-->
    <h4 class="text-center text-success"><%= flash[:notice] %></h4>
    
    <div class="row">
        <div class="col-md-2 mt-5">
            <!--userごとのプロフィール画像を取得-->
            <%= link_to public_user_path(@post.user.id) do %>
            <p class="text-center">
              <%= image_tag @post.user.get_profile_image(150,150), class: 'rounded-circle' %>
            </p>
            <% end %><br>
            <p class="text-center"><%= @post.user.name %></p>
        </div>
        <div class="col-md-5 mx-auto">
            <p class="text-center"><%= image_tag @post.image, size: "300x300" %></p>
            <!--いいね機能-->
            <% if @post.bookmarked_by?(current_user) %>
                <%= link_to public_post_bookmarks_path(@post), method: :delete do %>
                  <p class="text-center text-dark">♥ <%= @post.bookmarks.count %> いいね</p>
                <% end %>
            <% else %>
                <%= link_to public_post_bookmarks_path(@post), method: :post do %>
                  <p class="text-center text-dark">♡ <%= @post.bookmarks.count %> いいね</p>
                <% end %>
            <% end %>
            <!--ログインユーザーのみ公開ステータスを表示-->
            <% if @post.user == current_user %>
              <% if @post.release == true %>
              <p class="text-center text-primary">公開中</p>
              <%  else %>
              <p class="text-center text-danger">非公開</p>
              <% end %>
            <%  else %>
            <% end %>
        </div>
        
        <div class="col-md-5 mx-auto">
        　<table class="table table-borderless">
            <tbody>
              <tr>
                  <td><h3><%= @post.title %></h3></td>
              </tr>
              <tr>
                  <td>
                    <% @post.genres.each do |genre| %>
                      #　<%= genre.name %><br>
                    <% end %>
                  </td>
              </tr>
              <tr>
                  <td>#　<%= @post.alcohol %>に相性抜群！</td>
              </tr>
              <tr>
                  <td>#　<%= @post.summary %></td>
              </tr>
              <tr>
                  <td>#　<%= @post.ingredient %></td>
              </tr>
              <tr>
                  <td>#　<%= @post.cook %></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    
    <div class="row mb-3">
      <!--ログインユーザーのみ編集、削除ボタンを表示-->
      <% if @post.user == current_user %>
        <div class="mx-auto">
        <!--編集機能ボタン-->
          <%= link_to '投稿編集', edit_public_post_path, class: 'btn btn-success nav-link text-white', style: 'width:100px' %>
        </div>
        <!--削除機能ボタン-->
        <div class="mx-auto">
        <%= link_to(public_post_path(@post), method: :delete, class: 'btn btn-danger nav-link text-white', style: 'width:100px', "data-confirm" => "本当に削除しますか？") do %>
          <span>投稿削除</span>
        <% end %>
        </div>
        <% else %>
      <% end %>
    </div>
    <div class="mx-auto border-top">
      <h4 class="text-center mt-3 mb-3">コメント　<%= @post.comments.count %> 件　（2~100字）</h4>
      <!--バリデーションによるエラー表示 -->
      <% if @comment.errors.any? %>
        <p class="text-danger"><%= @comment.errors.count %>件のエラーが発生しました！</p>
        <ul>
          <% @comment.errors.full_messages.each do |message| %>
            <li class="text-danger"><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <div>
        <!--コメント機能-->
        <%= form_with model: [@post, @comment], url: public_post_comments_path(@post) do |f| %>
          <div class="mx-auto">
            <p class="text-center"><%= f.text_area :comment, size: "60x3", placeholder: "コメントはここに" %></p>
            <p class="text-center ml-3"><%= f.submit "送信", class: 'btn btn-success btn-sm', style: 'width:60px' %></p>
          </div>
        <% end %>
      </div>
      <% @comments.each do |comment| %>
      <div class="col-md-8 mx-auto border-top">
        　<table class="table table-borderless">
            <tbody>
              <tr>
                <td style="width: 25%">
                  <p class="text-center"><%= image_tag comment.user.get_profile_image(80,80), class: 'rounded-circle' %></p>
                  <p class="text-center"><%= comment.user.name %></p>
                </td>
                <td style="width: 50%">
                  <%= comment.comment %><br>
                  <br>
                  <%= comment.created_at.to_s(:datetime_jp) %>
                </td>
                <td style="width: 25%">
                  <!--コメント削除機能、ログインユーザーのみ表示-->
                  <% if comment.user == current_user %>
                    <%= link_to(public_post_comment_path(comment.post, comment), method: :delete, class: 'btn btn-sm btn-danger nav-link text-white', style: 'width:120px', "data-confirm" => "本当に削除しますか？") do %>
                      <span>コメント削除</span>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
      <% end %>
    </div>
</div>
