<div class="container px-5 px-sm-0">
    <h2 class="text-center mt-5 mb-5">投稿詳細画面</h2>
    <div class="mx-auto">
      <% if @post.user == current_user %>
      <button class="btn btn-sm btn-success text-center">
        <%= link_to '編　集', edit_public_post_path, class: 'nav-link text-white', style: 'width:80px' %>
        <% else %>
      </button>
      <% end %>
      
      <% if @post.user == current_user %>
      <button class="btn btn-sm btn-danger">
          <!--削除機能ボタン-->
          <%= link_to(public_post_path(@post), method: :delete, class: 'nav-link text-white', style: 'width:80px', "data-confirm" => "本当に削除しますか？") do %>
          <span>削　除</span>
          <% end %>
      </button>
      <% end %>
    </div>
    
    <!--フラッシュメッセージの表示-->
    <p class="text-center text-success"><%= flash[:notice] %></p>
    
    <div class="row">
        <div class="col-md-6 mx-auto">
            <p class="text-center"><%= image_tag @post.image, size: "300x300" %></p>
            <!--いいね機能-->
            <% if @post.bookmarked_by?(current_user) %>
                <%= link_to public_post_bookmarks_path(@post), method: :delete do %>
                  <p class="text-center text-dark">♥ <%= @post.bookmarks.count %> いいね</p>
                <% end %>
              <% else %>
                <%= link_to public_post_bookmarks_path(@post), method: :post do %>
                  <p class="text-center text-dark">♡ <%= @post.bookmarks.count %> いいね</p>
                <% end %>
            <% end %>
            
            <% if @post.release == true %>
            <p class="text-center text-primary">公開中</p>
            <%  else %>
            <p class="text-center text-danger">非公開</p>
            <% end %>
        </div>
        
        <div class="col-md-6 mx-auto">
        　<table class="table table-borderless">
            <tbody>
              <tr>
                  <td><h3><%= @post.title %></h3></td>
              </tr>
              <tr>
                  <td>#　<%= @post.genre.name %></td>
              </tr>
              <tr>
                  <td>#　<%= @post.alcohol %>に相性抜群！</td>
              </tr>
              <tr>
                  <td>#　<%= @post.summary %></td>
              </tr>
              <tr>
                  <td>#　<%= @post.ingredient %></td>
              </tr>
              <tr>
                  <td>#　<%= @post.cook %></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    <div class="mx-auto border-top">
      <h4 class="text-center">コメント　<%= @post.comments.count %> 件</h4>
      <% @post.comments.each do |comment| %>
        
        <p><%= image_tag comment.user.get_profile_image(80,80), class: 'rounded-circle' %></p>
        <%= comment.user.name %>
        <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
        <!--コメント削除機能-->
        <% if comment.user == current_user %>
          <%= link_to "削除", public_post_comment_path(comment.post, comment), method: :delete %>
        <% end %>
      <% end %>
    </div>
    <div>
      <!--コメント機能-->
      <%= form_with model: [@post, @comment], url: public_post_comments_path(@post) do |f| %>
        <%= f.text_area :comment, rows: '5', placeholder: "コメントはここに" %>
        <%= f.submit "送信" %>
      <% end %>
    </div>
    <div>
      ああああああああ
    </div>
</div>
