<div class="container px-5 px-sm-0">
    <h2 class="text-center mt-5 mb-5">投稿詳細画面</h2>
    <div class="row">
        <!--投稿強制削除-->
        <div class="col-md-1 mx-auto">
        <%= link_to(admin_post_path(@post), method: :delete, class: 'btn btn-danger nav-link text-white', style: 'width:150px', "data-confirm" => "本当に削除しますか？") do %>
          <span>投稿強制削除︎</span>
        <% end %>
        </div>
    </div>
    
    <!--フラッシュメッセージの表示-->
    <p class="text-center text-success"><%= flash[:notice] %></p>
    
    <div class="row">
        <div class="col-md-2 mt-5">
            <!--userごとのプロフィール画像を取得-->
            <%= link_to admin_user_path(@post.user.id) do %>
            <p class="text-center">
              <%= image_tag @post.user.get_profile_image(150,150), class: 'rounded-circle' %>
            </p>
            <% end %><br>
            <p class="text-center"><%= @post.user.name %></p>
        </div>
        <div class="col-md-5 mx-auto">
            <p class="text-center"><%= image_tag @post.image, size: "300x300" %></p>
            <!--いいね機能-->
            <p class="text-center text-dark">いいね <%= @post.bookmarks.count %></p>
            <!--公開ステータス-->
            <% if @post.release == true %>
            <p class="text-center text-primary">公開中</p>
            <% else %>
            <p class="text-center text-danger">非公開</p>
            <% end %>
        </div>
        
        <div class="col-md-5 mx-auto">
        　<table class="table table-borderless">
            <tbody>
              <tr>
                  <td><h3><%= @post.title %></h3></td>
              </tr>
              <tr>
                  <td>
                    <% @post.genres.each do |genre| %>
                      #　<%= genre.name %><br>
                    <% end %>
                  </td>
              </tr>
              <tr>
                  <td>#　<%= @post.alcohol %>に相性抜群！</td>
              </tr>
              <tr>
                  <td>#　<%= @post.summary %></td>
              </tr>
              <tr>
                  <td>#　<%= @post.ingredient %></td>
              </tr>
              <tr>
                  <td>#　<%= @post.cook %></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    <div class="col-md-8 mx-auto border-top">
      <h4 class="text-center mt-3 mb-3">コメント　<%= @post.comments.count %> 件</h4>
      <% @comments.each do |comment| %>
      <div class="border-top">
        　<table class="table table-borderless">
            <tbody>
              <tr>
                <td style="width: 25%">
                  <p class="text-center"><%= image_tag comment.user.get_profile_image(80,80), class: 'rounded-circle' %></p>
                  <p class="text-center"><%= comment.user.name %></p>
                </td>
                <td style="width: 50%">
                  <%= comment.comment %><br>
                  <br>
                  <%= comment.created_at.to_s(:datetime_jp) %>
                </td>
                <td style="width: 25%">
                  <!--コメント強制削除-->
                  <%= link_to(admin_post_comment_path(comment.post, comment), method: :delete, class: 'btn btn-sm btn-danger nav-link text-white', style: 'width:100px', "data-confirm" => "本当に削除しますか？") do %>
                    <span>強制削除</span>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
      <% end %>
    </div>
</div>