<div class="container px-2 px-sm-0">
    <h2 class="posts-title text-center pt-2 pb-2 border-bottom mt-3 mb-3">投稿詳細</h2>
    <!--フラッシュメッセージの表示-->
    <!--p class="text-center text-success"><#%= flash[:notice] %></p-->
    <div class="row mx-auto">
      <!--投稿強制削除-->
      <div class="col-md-1 col-6 mx-auto pb-3">
      <%= link_to(admin_post_path(@post), method: :delete, class: 'btn btn-sm btn-danger nav-link text-white', style: 'width:150px', "data-confirm" => "本当に削除しますか？") do %>
        <span>投稿強制削除︎</span>
      <% end %>
      </div>
    </div>
    
    <div class="row mx-auto">
      <div class="col-md-2 col-12 mt-3">
        <!--userごとのプロフィール画像を取得-->
        <%= link_to admin_user_path(@post.user.id) do %>
        <p class="text-center">
          <%= image_tag @post.user.get_profile_image(150,150), class: 'rounded-circle' %>
        </p>
        <% end %>
        <p class="text-center"><%= @post.user.name %></p>
      </div>
        
      <div class="col-md-5 col-12 mx-auto">
        <p class="text-center"><%= image_tag @post.image, size: "300x300" %></p>
        <p class="text-center"><%= @post.created_at.to_s(:datetime_jp) %></p>
        <!--いいね機能-->
        <p class="text-center text-dark">いいね <%= @post.bookmarks.count %></p>
        <!--公開ステータス-->
        <% if @post.release == true %>
        <p class="text-center text-primary">公開中</p>
        <% else %>
        <p class="text-center text-danger">非公開</p>
        <% end %>
      </div>
        
      <div class="col-md-5 col-10 mx-auto">
        <h3 class="user-title text-center"><%= @post.title %></h3><br>
        <% @post.genres.each do |genre| %>
        <p class="post-details"># <%= genre.name %></p>
        <% end %>
        <p class="post-details"># <%= @post.alcohol %>に相性抜群！</p>
        <p class="post-details"># <%= @post.summary %></p>
        <p class="post-details"># <%= @post.ingredient %></p>
        <p class="post-details"># <%= @post.cook %></p>
      </div>
    </div>
    
    <div class="col-md-12 col-12 mx-auto border-top">
      <h4 class="comment-title text-center mt-3 mb-3">コメント　<%= @post.comments.count %> 件　（2~100字）</h4>
      <!--コメント表示-->
      <% @comments.each do |comment| %>
      <div class="row mx-auto pt-3 pb-3 border-top">
        <div class="col-md-3 col-3 mx-auto">
          <p class="post-details text-center">
            <%= image_tag comment.user.get_profile_image(50,50), class: 'rounded-circle' %><br>
            <%= comment.user.name %>
          </p>
        </div>
        
        <div class="col-md-6 col-9 mx-auto">
          <p class="post-details"><%= comment.comment %></p>
          <p class="daytimes"><%= comment.created_at.to_s(:datetime_jp) %></p>
        </div>
        
        <div class="col-md-3 col-3 mx-auto pb-3">
          <!--コメント強制削除-->
          <%= link_to(admin_post_comment_path(comment.post, comment), method: :delete, class: 'btn btn-sm btn-danger nav-link text-white', style: 'width:100px', "data-confirm" => "本当に削除しますか？") do %>
            <span>強制削除</span>
          <% end %>
        </div>
      <% end %>
    </div>
</div>