<div class="container px-3 px-sm-0">
    <h2 class="posts-title pt-2 pb-2 border-bottom mt-3 mb-3 text-center">マイページ編集</h2>
    <!--バリデーションによるエラー表示 -->
    <% if @user.errors.any? %>
      <p class="text-danger"><%= @user.errors.count %>件のエラーが発生しました！</p>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li class="text-danger"><%= message %></li>
        <% end %>
      </ul>
    <% end %>
                                                        <!--↓ updateのpath-->
    <%= form_with model: @user, method: :patch, url: public_user_path(current_user.id) do |f| %>
      <div class="row mx-auto mt-5 mb-5">
          <div class="col-md-12 col-12 mx-auto">
          <p class="post-details text-center">アイコン画像</p>
              <p class="post-details text-center">
                <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
              </p>
          </div>
          
          <div class="col-md-2 col-5 mx-auto">
            <p class="post-details pt-3">ニックネーム</p>
            <p class="post-details pt-3">自己紹介</p>
          </div>
          
          <div class="col-md-4 col-7 mx-auto">
            <p class="pt-3"><%= f.text_field :name, autofocus: true, id:"inputName", class: 'form-control' %></p>
            <p class=""><%= f.text_area :introduction, id:"inputIntroduction", class: 'form-control', style: 'height:100px' %></p>
          </div>
      </div>
    
      <% if @user == current_user %>
      <div class="row mx-auto">
        <div class="col-md-1 col-5 mx-auto">
          <p><%= f.submit "更　　新", class: 'btn btn-sm btn-success', style: 'width:110px' %></p>
          <%= link_to(destroy_user_session_path, method: :delete, class:"text-white") do %>
            <p class="btn btn-sm btn-warning text-dark nav-link text-center" style="width:110px">ログアウト</p>
          <% end %>
          <p><%= link_to "退　　会", public_users_unsubscribe_path, class: 'btn btn-sm btn-danger', style: 'width:110px' %></p>
        </div>
      </div>
      <% end %>
    <% end %>
</div>