<!DOCTYPE html>
<html>
  <head>
    <title>SNACKERS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--↓これをこのHTMLに必ず入れないとCSSは使えない！-->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/9ece6fd7f3.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header class="sticky-top">
      <div class="container">
        <div class="row">
          <div class="col-xl-1 pt-2 pb-4 pr-5">
            <!--サイトロゴ-->
            <a href="/public"><img class="image_circle"></a>
          </div>
          
          <div class="col-xl-8">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <ul class="navbar-nav">
                <!--ログイン後、管理者用ヘッダー-->
                <% if admin_signed_in? %>
                  <h2 class="text-white text-center pt-4 pr-5">Administrator</h2>
                  <li class="nav-item mt-4">
                    <a href= "/admin/posts" class="nav-link text-dark btn btn-sm btn-warning ml-3" style="width:120px">投稿一覧</a>
                  </li>
                  <li class="nav-item mt-4">
                    <a href="/admin/users" class="nav-link text-dark btn btn-sm btn-warning ml-3 mr-3" style="width:120px">会員一覧</a>
                  </li>
                  <li class="nav-item mt-4 mr-5">
                    <%= link_to(destroy_admin_session_path, method: :delete, class:"text-white") do %>
                      <p class="nav-link text-dark btn btn-sm btn-warning" style="width:120px">ログアウト</p>
                    <% end %>
                  </li>
                  <!--キーワード検索機能ー-->
                  <div class="search_form pr-5">
                    <%= form_with url: search_path, local: true, method: :get do |f| %>
                    <table class="table table-borderless table-inverse">
                      <tbody>
                        <tr>
                          <td><%= f.select :range, options_for_select([["タイトル検索","Title"], ["ユーザー検索","User"]]) %></td>
                          <td><%= f.select :search, options_for_select([["部分一致","partial_match"], ["完全一致","perfect_match"], ["前方一致","forward_match"], ["後方一致","backward_match"]]) %></td>
                        </tr>
                        <tr>
                          <td><%= f.text_field :word %></td>
                          <td><%= f.submit "検索", class: "btn btn-primary" %></td>
                        </tr>
                      </tbody>
                    </table>
                    <% end %>
                  </div>
                  
                  <!--ログイン後、ユーザー共通ヘッダー-->
                  <% elsif user_signed_in? %>
                  
                  <li class="nav-item mt-3">
                    <a href="/public/posts" class="nav-link text-dark btn btn-sm btn-warning ml-5 mr-5" style="width:100px">全体投稿</a>
                  </li>
                  <li class="nav-item mt-3">
                    <a href="/public/posts/new" class="nav-link text-dark btn btn-sm btn-warning mr-5" style="width:100px">投　稿</a>
                  </li>
                  <li class="nav-item mt-3">
                    <%= link_to(destroy_user_session_path, method: :delete, class:"text-white") do %>
                      <p class="btn btn-sm btn-warning text-dark nav-link" style="width:100px">ログアウト</p>
                    <% end %>
                  </li>
                  <li class="nav-item mt-3">
                    <%= link_to 'マイページ', public_user_path(current_user.id), class: 'btn btn-sm btn-warning nav-link text-dark ml-5 mr-5', style: 'width:100px' %>
                  </li>
                  <li class="nav-item">
                    <!--userごとのプロフィール画像を取得-->
                    <%= link_to public_user_path(current_user.id) do %>
                      <p>
                        <%= image_tag current_user.get_profile_image(75,75), class: 'rounded-circle' %>
                        <p class="text-center text-light"><%= current_user.name %></p>
                      </p>
                    <% end %>
                  </li>
                  <!--キーワード検索機能ー-->
                  <div class="search_form ml-5">
                    <%= form_with url: search_path, local: true, method: :get do |f| %>
                    <table class="table table-borderless table-inverse">
                      <tbody>
                        <tr>
                          <td><%= f.select :range, options_for_select([["タイトル検索","Title"], ["ユーザー検索","User"]]) %></td>
                          <td><%= f.select :search, options_for_select([["部分一致","partial_match"], ["完全一致","perfect_match"], ["前方一致","forward_match"], ["後方一致","backward_match"]]) %></td>
                        </tr>
                        <tr>
                          <td><%= f.text_field :word %></td>
                          <td><%= f.submit "検索", class: "btn btn-primary" %></td>
                        </tr>
                      </tbody>
                    </table>
                    <% end %>
                  
                  </div>
                  
                  <% else %>
                  <li class="nav-item pt-4 ml-3">
                    <a href="/users/sign_up" class="nav-link text-dark btn btn-light" style="width:150px">新規登録</a>
                  </li>
                  <li class="nav-item pt-4 ml-3">
                    <a href="/users/sign_in" class="nav-link text-dark btn btn-light" style="width:150px">ログイン</a>
                  </li>
                <% end %>
                </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
